game/data/scripts_waytrel/events/GoldenWheel/rewards.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="params">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="message" use="optional"/>
                      <xs:attribute type="xs:string" name="Mstring" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="minLevel"/>
            <xs:attribute type="xs:byte" name="maxLevel"/>
            <xs:attribute type="xs:int" name="coinId"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:int" name="multisells">
          <xs:annotation>
            <xs:documentation> maxLevel -1 - no limit </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="payback" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> Scroll: Boost Attack (Time-limited) Sealed вЂ” 5 pcs.  Scroll: Boost Attack (Time-limited) Sealed вЂ” 5 pcs.  Scroll: Boost Defense (Time-limited) Sealed вЂ” 10 pcs.  Charging Stone of Random Craft - 1 Charge (Time-limited) Sealed вЂ” 1 pc.  Charging Stone of Random Craft - 1 Charge (Time-limited) Sealed вЂ” 2 pc.  Elixir Powder Sealed вЂ” 1 pc.  Scroll of Blessing Sealed вЂ” 1 pc. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation> Scroll: Boost Attack (Time-limited) Sealed вЂ” 5 pcs.  Scroll: Boost Defense (Time-limited) Sealed вЂ” 5 pcs. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id" use="optional"/>
                      <xs:attribute type="xs:byte" name="count" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
            <xs:attribute type="xs:short" name="count" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

